@font-face {
    font-family: FlexBold;
    src: url(./fonts/flex-Bold.ttf);
}

@font-face {
    font-family: FlexRegular;
    src: url(./fonts/flex-Regular.ttf);
}
body {
    background: #1F2536;
}

.condDisplay {
    width: max-content;
    margin: auto;
}

.condDisplay h4 {
    font-family: FlexRegular;
    color: #E2E2E9;
    margin: 0;
}

.tempDisplay {
    width: max-content;
    margin: auto;
}

.tempDisplay h1 {
    font-family: FlexBold;
    font-size: 6rem;
    color: #ADC6FF;
    margin: 0;
}

.boxClass {
    background: #0D1323;
    width: 500px;
    height: 100px;
    padding: 16px;
    border-radius: 20px;
    font-family: FlexRegular;
    color: #BFC6DC;
    margin: 25px auto;
}

.boxClass h4 {
    margin-bottom: 10px;
    margin-top: 2px;
}

.hourlyBox {
    height: 140px;
}

.hourlyElementContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50px;
    grid-template-rows: 100px;
    gap: 10px;
    height: 100px;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.hourlyTemp {
    background-color: #DEBCDF;
    color: #402843;
    width: 30px;
    margin-bottom: 30px;
    margin-inline: auto;
    border-radius: 10px;
    padding: 5px;
}